<!DOCTYPE html>
<html>

    <% include ../partials/head %>
    
<body>
	<% include ../partials/navbar %>
    <div class="container">
        <div class="row">
            <div class="image-container">
                <div class="col-md-6 thumbnail">
                    <a href="<%= image.url %>" class="lightbox-trigger"><img src="<%= image.url %>" class="align-left img-responsive" alt="image"></a>
                </div>
                <div class="col-md-6">
                    <div class="well clearfix">
                        <p id="date" class="text-muted pull-right"><%= image.createdOn %></p>
                        <h2><%= image.title %></h2>
                        <p class="lead"><%= image.description %></p>
                        <button id="btn-like" class="btn btn-default pull-left"><%= image.likes %> <i class="fa fa-star" aria-hidden="true"></i></button>
                        <a href="#" class="username pull-right">Created By: <strong><%= image.creator %></strong></a>
                    </div>
                    <div class="text-center">
                        <h4>Discuss This Image</h4>
                        <button class="btn btn-default" data-toggle="modal" data-target="#commentModal"><i class="fa fa-comment" aria-hidden="true"></i> Comment</button>
                    </div>
                    <div class="scrollable comments-section">
                        <% if (image.comments) { %>
                            <% image.comments.forEach(function(comment) { %>
                                <p><a href="#" class="username"><strong><%= comment.author %></strong></a> <%= comment.content %></p>
                            <% }); %>
                        <% } %>
                    </div>

                    <a href="/" class="btn btn-primary btn-gallery pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i>
 Back to Gallery</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Comment Modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                           <i class="fa fa-times" aria-hidden="true"></i>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="commentModalLabel">
                        Comment on <%= image.title %>
                    </h4>
                </div>

                <!-- Comment Modal Body -->
                <div class="modal-body">
                    <form action="/images/<%= image._id %>/comments" method="POST" id="comment-form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="author" placeholder="Name"></textarea>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-sm-10">
                                <textarea rows="5" class="form-control" name="content" placeholder="Comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 text-center">
                                <button type="submit" class="btn btn-default pull-right"><i class="fa fa-comment" aria-hidden="true"></i>  Add Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Comment Modal End -->
    
    <!-- Lightbox -->
    <div id="lightbox">
        <h1 class="lightbox-close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></h1>
        <div id="lightbox-content">
            <img src="#" />
        </div>
    </div>
    <!-- Lightbox End -->
    
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>
