<!DOCTYPE html>
<html>

    <% include ../partials/head %>
    
<body>
	<% include ../partials/navbar %>

    <div class="container">
        <div class="jumbotron">
            <h1><i class="fa fa-camera-retro" aria-hidden="true"></i></span> <%= pageHeader.title %></h1>
            <p><%= pageHeader.tagline %></p> 
            <p><a class="btn btn-primary btn-large" href="/image/new">Add a New Image To The Collection</a></p>
        </div>

        <div class="row">
            <% images.forEach(function(image) { %>
                <% if (!image.unlisted) { %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail img-hover">
                            <div class="image-wrap">
                                <a href="/image/view">
                                    <img src="<%= image.url %>">
                                    <div class="image-overlay">
                                        <h3 class="overlay-content">
                                            <i class="fa fa-comment" aria-hidden="true"></i> <%= image.comments.length %>
                                            &nbsp;
                                            <i class="fa fa-heart" aria-hidden="true"></i> <%= image.likes %>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                            <div class="image-details">
                                <a href="/image/view"><%= image.title %></a><%= image.description %>
                            </div>
                        </div>
                    </div>
                <% } %> 
            <% }); %>
        </div>
    </div>
    
    <% include ../partials/footer %>
    
    <% if (message) { %>
        <script type="text/javascript">
            alert(<%= message %>);
        </script>
    <% } %>
    <% include ../partials/scripts %>
</body>
</html>

